attrs>=21.2.0
black>=21.9b0
certifi>=2021.10.8
click>=8.0.3
iniconfig>=1.1.1
mypy-extensions>=0.4.3
ninja>=1.10.2.2
numpy>=1.21.2
packaging>=21.0
pathspec>=0.9.0
Pillow>=8.4.0
pip>=21.2.4
platformdirs>=2.4.0
pluggy>=1.0.0
py>=1.10.0
pyparsing>=3.0.1
pytest>=6.2.5
pytest-cov>=6.1.1
regex>=2021.10.8
setuptools>=58.0.4
toml>=0.10.2
tomli>=1.2.1
torch>=1.12.1
torchvision>=0.10.1
tqdm>=4.62.3
typing-extensions>=3.10.0.2
wheel>=0.37.0
unfoldNd>=0.1.0
gfloat==0.4
matplotlib>=3.8.0
wandb>=0.20.1
